nav{
    color: #65a49a ;
    background-color: white;
    display: flex;
    justify-content: space-between;
    width: auto;
    height: 70px;
    padding: 20px;
}

.boton-agregar{
    height: 30px;
    width: auto;
    padding: 5px 15px;
    border-style: none;
    border-radius: 10px;
    background-color: #65a49a;
    color: white;
    cursor: pointer;
}

.boton-agregar:hover{
    background-color: #79c1b5;
}